body {

    background-color: rgb(31, 31, 31);
    color: rgb(162, 231, 171);
padding: 90px;
    }
    
    .titulo {
    text-decoration: overline;
    text-align: center;
    color: aliceblue;
    
    
    }
    
    .inicio {
    text-decoration: none;
    text-align: center;
    
    }
    
    .explic {
    
    text-align: center;
    
    
    }
    
    .imgum {
    
    text-align: center;
    
    
    }
    
    .imgdois {
    
    text-align: center;
    
    
    }

    .texto2 {

text-align: center;
    }
    
    .unohenrique {

text-align: center;

    }

    

.dj {

text-align: center;

}


#menu {
position: fixed;
background-color: rgb(71, 71, 71);
left: 0;
width: 100%;
height: 100px;
top: 0;

}

.fnaf {

color: rgb(31, 31, 31);

}

.titulo2 {

    
color: aliceblue;

}

.abelhas {


  text-align: center;
}

.formulario {


text-align: center;


}
