body {

    background-color: rgb(160, 230, 160);
    color: rgb(0, 0, 0);
margin: 50px;
background-image: url('fundodosite.jpg');
text-align: center;

    }
    
    .titulo {
    text-decoration: overline;
    text-align: center;
    color: aliceblue;
    background-color: rgb(162, 211, 255);
    
    
    }
    
    .inicio {
    
    text-align: center;
    background-color: rgb(162, 211, 255);
    
    }
    
    .explic {
    
    text-align: center;
    
    }
    
    .trator {
    
    text-align: right;
    
    
    }
    
    .tratorb {
    
    text-align: left;
    
    
    }

    .texto2 {

text-align: center;



    }
    
    .mine{

text-align: center;
margin: none;
    }